<script type="text/html" id="MainView">
<div class="MainView">
  <label>2 boxes '1:1' allocation:</label>
  <div class="form-group flex-parent">
    <div class="flex-child-box flex-child-1 color-red">the first flex-child-1</div>
    <div class="flex-child-box flex-child-1 color-blue">the second flex-child-1</div>
  </div>
  <label>2 boxes have no width cannot average:</label>
  <div class="form-group flex-parent">
    <div class="flex-child-box flex-child-1-nowidth color-red">the first flex-child-1</div>
    <div class="flex-child-box flex-child-1-nowidth color-blue">the second flex-child-1</div>
  </div>
  <label>2 boxes '1:3' allocation:</label>
  <div class="form-group flex-parent">
    <div class="flex-child-box flex-child-1 color-red">the first flex-child-1</div>
    <div class="flex-child-box flex-child-3 color-blue">the second flex-child-1</div>
  </div>
  <label>2 boxes widh boder cannot perfect '1:3' allocation(the left box has bolder size more):</label>
  <div class="form-group flex-parent">
    <div class="flex-child-box flex-child-1 color-red bolder">the first flex-child-1</div>
    <div class="flex-child-box flex-child-3 color-blue bolder">the second flex-child-1</div>
  </div>
  <label>multiple boxes '1:1:1:1' allocation:</label>
  <div class="form-group flex-parent">
    <div class="flex-child-box flex-child-1 color-red">the first box</div>
    <div class="flex-child-box flex-child-1 color-blue">the 2nd box</div>
    <div class="flex-child-box flex-child-1 color-orange">the third box</div>
    <div class="flex-child-box flex-child-1 color-white">the 4th box</div>
    <div class="flex-child-box flex-child-1 color-green">the fifth box</div>
    <div class="flex-child-box flex-child-1 color-grey">the sixth box</div>
  </div>
</div>
</script>


